@keyframes html, body {

}

body {
background-image: url("C:/Users/rd49373/Desktop/download.jpg");

}

p{
	padding: 2em;
	font-family: monospace;
	font-size: 3em;

}

div {
		width: 70%;
		margin: auto;
}

